.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: calc(100vh - 40px);
  margin: 20px 35px;
  padding: 20px 0;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 12px;
  transition: width 0.3s ease;
  font-family: 'Garet Book', 'sans-serif';
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;

  // ЛОГОТИП
  &__logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-family: 'Benzin-EB', 'sans-serif';

    &-inner {
      &:last-child { color: var(--color-dark-blue); }
    }

    &-collapsed {
      opacity: 0;
      width: 0;
      overflow: hidden;
      transition: opacity 0.3s ease, width 0.3s ease;
    }

    &-innerR { color: var(--color-dark-blue); }
  }

  // КНОПКА СВЕРТЫВАНИЯ
  &__setActive {
    position: absolute;
    right: -12px;
    top: 50px;
    width: 30px;
    height: 30px;
    border: transparent;
    border-radius: 90px;
    background-color: var(--color-light-blue);
    color: var(--color-black);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 0.3s ease;

    img {
      width: 18px;
      height: 18px;
      transition: transform 0.3s ease;
    }
  }

  // НАВИГАЦИЯ
  &__navigation {
    width: 100%;

    &-block {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &__navigation-element {
    list-style-type: none;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:last-child { margin-bottom: 0; }
    &:hover { background-color: var(--color-light-blue) }
  }

  &__navigation-markup {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 30px;
    background-color: var(--color-white);
    border-radius: 0 3px 3px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__navigation-link {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
    color: var(--color-white);
    text-decoration: none;
    width: 100%;
    transition: opacity 0.3s ease;

    img {
      width: 24px;
      height: 24px;
      margin-right: 14px;
      flex-shrink: 0;
    }

    span {
      white-space: nowrap;
      font-size: 20px;
    }
  }

  // АКТИВНЫЕ СОСТОЯНИЯ
  .active__markup { opacity: 1; }

  // СВЕРНУТОЕ СОСТОЯНИЕ
  &.collapsed {
    width: 80px;
    align-items: center;

    .sidebar__logo-collapsed {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }

    .sidebar__setActive img {
      transform: rotate(180deg);
    }

    .sidebar__navigation-element {
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 60px;
    }

    .sidebar__navigation-link {
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 100%;
      width: 100%;

      img {
        margin-right: 0;
        width: 24px;
        height: 24px;
      }

      span {
        display: none;
      }
    }
  }
}