.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  color: var(--color-black);
  left: 0;
  height: 100vh;
  user-select: none;

  &__icon {
    background-color: transparent;
    border: none;
  }

  &__logo {

    &.logo-active {
      pointer-events: none;
      user-select: none;
    }
  }

  &__block {
    background-color: var(--color-orange);
    width: 100%;
    text-align: left;
    border-radius: 10px;
    padding: 10px;

  }
  &__navigation-links {
    text-decoration: none;
    display: block;
  }

  &__navigation-link {
    text-decoration: none;
    color: var(--color-black);

    @include hover {
      color: var(--color-black-20);
    }

    &.link-is-active {
      background-color: (var(--color-white-10));
      border-radius: var(--border-l);
      pointer-events: none;
      cursor: default;
    }
  }

}


