@font-face {
  font-family: "Benzin-R";
  src: url("@/assets/fonts/Benzin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-M";
  src: url("@/assets/fonts/Benzin-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-SB";
  src: url("@/assets/fonts/Benzin-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-B";
  src: url("@/assets/fonts/Benzin-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-EB";
  src: url("@/assets/fonts/Benzin-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
