@use './helpers' as *;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-blue: #DFECF2;
  --color-dark-blue: #0070A4;


  --font-family-base: 'Garet-Book', 'sans-serif';


  --container-width: #{fluid-to-laptop($container-desktop-width, $container-laptop-width)};
  --section-padding-y: #{fluid(75, 40)};
  --container-padding-x: 16px;


  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

}