.header {
  display: flex;
  flex-basis: auto;
  position: sticky;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: gray;
  justify-content: space-between;
  align-items: center;
  @include fluid-text(128, 16);

  &__logo {
    display: flex;
    justify-content: flex-start;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__autorize {
    display: flex;
    justify-content: flex-end;
  }
}

.header__nav a {
  text-decoration: none;
  color: white;
}

.button {
  background-color: black;
  border: 0px transparent;
  color: white;
}
