.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: fluid(22, 14);



  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
  }
}


.header__inner ul, li, a {
  list-style-type: none;
  text-decoration: none;
  color: var(--color-white)
}