@use "@/styles/helpers/" as *;
@use "@a1rth/css-normalize";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Если хотите скрыть прокрутку */
  display: flex;
  justify-content: center;
  font-family: Benzin-R;
}

